body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

header {
    
    background-color: #3498db;
    color: antiquewhite;
    padding: 20px;
    text-align: center;
}

nav{
    background-color: #2980b9;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: azure;
    text-decoration: none;
}

section {
    background-color: white;
    padding: 20px;
}

footer {
    background-color: #3498db;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

strong{
    font-weight: bold;
}

form {
    max-width: 400px;
    margin: 0 auto;
}
div {
    margin-bottom: 10px;
}
label {
    display: inline-block;
    width: 120px;
}
input[type="text"],
input[type="tel"],
select {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.interest-group {
    margin-left: 120px; /* Adjust the margin to align with the labels */
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}